.main-container{
    @media (max-width:375px){
    width: 375px;
    height: 2252px;
    object-fit: cover;
    padding: 0;
    box-sizing: border-box;


    }
}
header{
    
    display:flex;
    justify-content: center;

    background-color: $white;
    &:hover{
        background-color:  #9356DC;

        
    
    .logo{
        display:flex;
        background-color: white;
        width: 197px;
        height: 36px;

    }
    }
    @media (max-width: 375px){
        .Paris-belleville {
            width: 60%;
            font-family: 'roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color:$Black;
              }
              
    .location {
        display: inline-block;
        width:375px;
        height: 50px;
        background-color:#EAEAEA;
        border: 1px solid #F2F2F2;
        border-radius: 0px 0px 0px 0px;
       
  
      }
      body{
        box-sizing:border-box;
    
        img{
            max-width:100%;
            height:auto;
      }
      h1{
        width: 275px;
        height: 68px,
    }
   
    Section Title{
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color:$Black ;

    }
    .paragraphe{
        
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;

    }
    
    }
   .btn:hover{
    width: 218px;
    height: 50px;
    top: 50px;
    border-radius: 25px;
    color:var(#FF79DA);
    background-color:#9356DC ;
    box-shadow: 0px 4px 10px 0px #00000040;
    display: inline-block;


   }
    
    .explorez-nos-restaurants{
    color: $white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    }
    

    .ellipse{
        display: block;
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid  #9356DC;
        background-color: #9356DC;
        text-align: center;
    }
    .rectangle{
    width: 322.49px;
    height: 72.38px;
    border-radius: 20px;
    background: #F6F6F6;
    box-shadow: 0px 4px 15px 0px #00000026;
    display: inline-block;


    }

   }

    }



    
