*{
  font-family: 'roboto',' Shrikhand';
  
}
// @media all and (min-width: 375px)and (max-width:1280px){  
// .main-container{
   
//     width: 375px;
//     height: 2252px;
//     object-fit: cover;
//     padding: 0;
//     box-sizing: border-box;


//     }
// }

// and (max-width:1280px){
header{
    display:flex;
    justify-content: center;
    background-color: $white; 
    box-shadow: 0px 2px 4px 0px #00000026;
    width: 100%;
    height: 63px;
    // padding: 10px 60px 10px 60px;
    .img-logo{
        align-items: center;
        background-color: white;
        width: 100%;
        height: 44px;  
        padding:10px 60px 10px 60px;  
    }
}

@media screen and (min-width: 375px){        
    }



    
