body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    // .loader-homepage {
    //     margin: 0;
    //     height: 127vh;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     background-color: black;
    //     overflow: hidden;


    //     .loader {
    //         color: #9356DC;
    //         // font-size: 1.5em;
    //         font-family: Shrikhand;
    //         font-size: 25px;
    //         font-style: italic;
    //         font-weight: 400;
    //         line-height: 70px;
    //         letter-spacing: 1em;
    //         text-align: center;
    //         width: 50em;
    //         height: 3em;
    //         animation: change-color 3s;
    //         // linear infinite;
    //         animation-duration: 3s;
    //         //                     // .swirl-in-bck {
    //     }
    //     .loader-p{
    //         animation: moving 3s ;
    //         position: absolute;
    //         height: 3em;
    //         -webkit-animation: swirl-in-br-bck 3s 0.2s 3 alterné-inverse les deux;
    //         animation: swirl-in-br-bck 3s 0.2s 3 alterné-inverse les deux;

    //     }
    //     @keyframes change-color {
    //                 to {
    //                     // permet d'appliquer des filtres et d'obtenir des effets
    //                     //  graphiques de flou, de saturation, etc.
    //                     filter: hue-rotate(8turn);
    //                 }
    //             }



