.menu {
    background-color: $grey4;
    width: 100%;

    .title {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: none;
    }

    .menu-container {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        position: relative;
        margin: 0 auto;

        
        .card {
            width: 100%;
            height: 232px;
            border-radius: 15px 15px 15px 15px;
            // gap: 20px;
            background: $white;
            box-shadow: 0px 4px 15px 0px #0000001A;
            text-decoration: none;
            position: relative;
            display: block;

            .img-card {
                width: 100%;
                height: 124px;
                border-radius: 15px 15px 0 0;
                /*  façon dont le contenu d'un élément remplacé (<img> ou <video> par exemple) 
                    doit s'adapter à son conteneur en utilisant sa largeur et sa hauteur. */
                /* Le contenu remplacé est dimensionné pour maintenir ses proportions 
                    tout en étant ajusté à la boîte de contenu : sa taille réelle est résolue 
                    en utilisant la largeur et la hauteur de l'élément comme contraintes de contenant. */
                object-fit: cover;
            }
            
            .card-title {
                font-family: Roboto;
                font-size: 18px;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: $black;
                text-decoration: none;
            }
            .card-menu-title{
                padding:0px;
                
            }
            .card-subtitle {
                font-family: Roboto;
                font-size: 17px;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                color: $black;
                text-decoration: none;
            }

            .badge-new {
                position: absolute;
                top: 5px;
                right: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: right;
                color: $green;
                width: 80px;
                height: 29px;
                border-radius: 2px;
                background: $blue;
                box-shadow: 0px 2px 4px 0px #00000026;
                text-decoration: none;
            }
            

            .like-it {
                display: block;
                // border: 0 solid transparent;
                position: relative;
                // text-align: center;
                // display: flex;
                // align-content: center;
                // flex-direction:column ;
                // padding: 15px;
                // margin: 10px;
                // display: flex;
                // justify-content: flex-end;
                // justify-content: space-between;
                // align-items: center;
                // margin: 0 5px;
                // crée une image qui est un dégradé entre deux ou plusieurs couleurs
                //  le long d'une ligne droite. 
                // Elle fournit une valeur de type <gradient> qui est un type spécial d'image (<image>).
                // background: linear-gradient(193.33deg, $purple -11.44%, $pink 123.93%);

                // align-items: center;

                // animation propriété raccourcie pour modifier la propriété like et durée
                // transition: transform 300ms;
                .empty-like{
                    position:absolute;
                    font-size: 32px;
                }
            }


            // transform:scale(1.20);
            .full-like {
                position:absolute;
                opacity: 0;
                transition-property: all;
                transition-duration: 3s;
                 // transition: transform 100ms cubic-bezier(.32, 0, .07, 1);
                font-size: 32px;
                color:transparent;
            }

            &:hover {
                .full-like {
                    // définit la transparence d'un élément. Autrement dit, elle permet de
                    //  définir le degré de visibilité de l'arrière-plan sur lequel est placé l'élément.
                    // 0:transparent 1:opaque
                    opacity: 1;
                    // &::before {
                    //     content: "";
                    background-image: linear-gradient(0deg, rgba(147, 86, 220, 1) 1%, rgba(255, 121, 218, 1) 100%);
                    // définit si l'arrière-plan d'un élément
                    //  s'étend sous sa zone de bordure, sa zone 
                    // de remplissage ou sa zone de contenu.background-clip
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    display: inline;
                    justify-content: space-between;
                }
            }
            // &:hover{
            //     &.empty-like{
            //       opacity: 0;  
            //     }
            // }
        }
    }

}
// responsive tablette

@media screen and (min-width: 576px) {
    .menu {
        background-color: $grey4;
    
        .title {
            font-family: Roboto;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            text-decoration: none;
        }
    
        .menu-container {
            display: flex;
            flex-wrap: wrap;
            // grid-template-columns: 60px 60px;
            width: 100%;
            // padding: 30px;
            // flex-flow:row wrap;
            justify-content: space-between;
            .card {
                width: 50%;
                height: 251px;
            }
        }
        
      
    }
}